<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ordenar Historico</title>
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/menu.css">
  <link rel="stylesheet" href="../css/nav.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
    <header> 
        <div id="title">
          <h1><i class="fa fa-cutlery"></i><a href="./index"><span class="highlight"> Cachorrão</span>-<span class="highlight">Lanches!</span></a></h1>
        </div>
        <nav class="topNav" id="menuNav">
          <a href="userIndex">Home</a>
          <a href="index.html"></a>
          <div class="dropdown">
            <a class="dropbtn"><a href="userMenu" class="current">Menu <i class="fa fa-caret-down"></i></a></a>
            <div class="dropdown-content">
                <a href="userMenu#Lanches">Lanches</a>
                <a href="userMenu#dogão">dogão</a>
                <a href="userMenu#bebidas">bebidas</a>
                </div>
          </div>
					<div class="dropdown">
            <a class="dropbtn"><a class="me"></a></a>
            <div class="dropdown-content">
            </div>
          </div>
          <a href="#" id='logout'>Sair</a>
          <a href="javascript:void(0);" class="icon">&#9776;</a>
        </nav>
    </header> 
    <div class="menu" id="history" style="padding-bottom: 10px">
      <br><h1 style="box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);"><i>Veja o Historico</i></h1>
    </div>
    <div class = "last">
      <p id="msg"></p>
      <table id="tableHistory">
        <thead>
        <tr>
          <th>Ordem ID</th>
          <th>Tipo</th>
          <th>Quantidade</th>
          <th>Preço</th>
          <th>Status</th>
          <th>Data</th>
        </tr>
        </thead>
        <tbody id="histTableBody">
        </tbody>
      </table>
    </div>
  </div>
  <footer>
      <p>Entre em contato </p>
      <p><span class="highlight">Cachorrão</span>-<span class="highlight">Lanches!</span>, Copyright &copy; 2019</p>
  </footer>
  <script src="../app/js/username.js"></script>
  <script src="../app/js/history.js"></script>
  <script src="../js/scripts.js"></script>
  <script src="../js/cart.js"></script>
</body>
</html>

